# Nix build results
/result*
hosts/*/projcts/
# Python build artifacts and virtual environments
__pycache__/
*.pyc
.venv/
venv/
env/
activate/

#IDE/Editor config
.idea/
.vscode/

#Custom ignores for your project
assets/wallpapers/*

modules/user/bash/keys
